name: Build static Qt

on:
  workflow_dispatch:
    inputs:
      buildtype:
        description: 'Build type'
        required: true
        default: 'all'
        type: choice
        options:
        - linux
        - linux_arm
        - windows
        - macos
        - all

      qt_version:
        description: 'Qt Version'
        required: true
        default: 'all'
        type: choice
        options:
        - 'all'
        - '6.10.0'
        - '6.9.3'
        - '6.8.3'
        - '6.7.3'

        #6.6.3 non compila per una issue con libzstd_static
 #       - '6.6.3'
        #disabilito anche 6.5.3
 #       - '6.5.3'

permissions:
  contents: write

jobs:
  setup:
    env:
      BUILD_LINUX: ${{(inputs.buildtype == 'all' || inputs.buildtype == 'linux') }}
      BUILD_LINUX_ARM: ${{(inputs.buildtype == 'all' || inputs.buildtype == 'linux_arm') }}
      BUILD_WINDOWS: ${{(inputs.buildtype == 'all' || inputs.buildtype == 'windows') }}
      BUILD_MACOS: ${{(inputs.buildtype == 'all' || inputs.buildtype == 'macos') }}
      QT_VERSION_IN: ${{inputs.qt_version}}
    runs-on: ubuntu-latest
    outputs:
      activeos: ${{ steps.setup.outputs.runner }}
      qt_versions: ${{ steps.setup.outputs.qt_versions }}
    steps:
      - name: Check os to build
        id: setup
        run: |
          ARRAY=()
          if [ ${{ env.BUILD_LINUX }} = true  ]; then
            ARRAY+=('ubuntu-24.04')
          fi
          if [ ${{ env.BUILD_LINUX_ARM }} = true  ]; then
            ARRAY+=('ubuntu-24.04-arm')
          fi
          if [ ${{ env.BUILD_WINDOWS }} = true  ]; then
            ARRAY+=('windows-2025')
          fi
          if [ ${{ env.BUILD_MACOS }} = true  ]; then
            ARRAY+=('macos-15')
          fi

          # Build OS matrix JSON
          os_json='runner='
          os_json+=$(printf '%s\n' "${ARRAY[@]}" | jq -R . | jq -s .)
          echo $os_json
          echo $os_json >> $GITHUB_OUTPUT

          # Build Qt versions matrix JSON
          V_IN="${{ env.QT_VERSION_IN }}"
          if [ "$V_IN" = "all" ]; then
            QT_LIST=('6.10.0' '6.9.3' '6.8.3' '6.7.3')
          else
            QT_LIST=("$V_IN")
          fi
          qt_json='qt_versions='
          qt_json+=$(printf '%s\n' "${QT_LIST[@]}" | jq -R . | jq -s .)
          echo $qt_json
          echo $qt_json >> $GITHUB_OUTPUT




  get_sources:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        qt: ${{ fromJSON(needs.setup.outputs.qt_versions) }}
    concurrency:
      group: src-${{ matrix.qt }}
      cancel-in-progress: false

    runs-on: ubuntu-latest

    steps:

      - name: Check if sources from cache are availabe
        id: cache-qt-check
        uses: actions/cache/restore@v4
        with:
          key:  ${{matrix.qt}}_src
          path: "~/qtsrc"
          enableCrossOsArchive: true
          lookup-only: true
          
      - name: Clone Qt repo (version-specific)
        if: steps.cache-qt-check.outputs.cache-hit != 'true'
        run: |
          cd ~
          mkdir qtsrc
          cd qtsrc
          git clone https://code.qt.io/qt/qt5.git . -b '${{matrix.qt}}'
          perl init-repository
          cd ~
  
      - name: Save Qt Sources to cache if new (version-specific)
        id: cache-qt-save
        if: success() &&  steps.cache-qt-check.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.cache-qt-check.outputs.cache-primary-key }}
          path: "~/qtsrc"
          enableCrossOsArchive: true
    
    

  build:
    needs: [setup, get_sources]
    concurrency:
      group: build-${{matrix.qt}}-${{matrix.os}}
      cancel-in-progress: false
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(needs.setup.outputs.activeos) }}
        qt: ${{ fromJSON(needs.setup.outputs.qt_versions) }}
    env:
      COMMON_FLAGS: "-no-pch -no-feature-accessibility -feature-relocatable -nomake examples -nomake tools -nomake tests -gc-binaries -no-ltcg -sql-sqlite -skip qtwebengine -qt-libjpeg -qt-libpng -qt-zlib -qt-pcre -qt-harfbuzz -system-freetype -fontconfig"
    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Linux dependencies
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt remove clang-12
          sudo apt remove clang-13
          sudo apt remove clang-14
          sudo apt remove clang-15
          sudo apt remove clang-16
          sudo apt remove clang-17
          sudo apt-get install -y clang-18
          sudo apt-get install -y $(cat linux_packages.txt)

      - name: Set vars (Ubuntu)
        if: contains(matrix.os, 'ubuntu')
        run: |
          echo "HOME_DIR=~" >> $GITHUB_ENV 
          echo "HOME_DIR_BASH=~" >> $GITHUB_ENV 
          echo "OS_NAME=${{runner.os}}-${{runner.arch}}" >> $GITHUB_ENV 

      - name: Set vars (MacOS)
        if: contains(matrix.os, 'macos')
        run: |
          echo "HOME_DIR=~" >> $GITHUB_ENV 
          echo "HOME_DIR_BASH=~" >> $GITHUB_ENV 
          echo "OS_NAME=${{runner.os}}-${{runner.arch}}" >> $GITHUB_ENV 
    
      - name: Set vars (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          echo "HOME_DIR=D:\" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "HOME_DIR_BASH=D:/" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "OS_NAME=${{runner.os}}-${{runner.arch}}" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Set up MinGW (Windows)
        id: install_cc
        uses: rlalik/setup-cpp-compiler@master
        if: contains(matrix.os, 'windows')
        with:
          compiler: latest

      - name: Set up MSYS (Windows)
        uses: msys2/setup-msys2@v2
        if: contains(matrix.os, 'windows')
        with:
          msystem: ucrt64
          install: mingw-w64-ucrt-x86_64-openssl
      
      - name: add new MinGW to PATH environment variable
        if: contains(matrix.os, 'windows')
        uses: myci-actions/export-env-var-powershell@1
        with:
          name: PATH
          value: C:\ProgramData\mingw64\mingw32\bin;C:\ProgramData\mingw64\mingw64\bin;$env:PATH
        

      - name: Free Disk Space (Ubuntu)
        if: contains(matrix.os, 'ubuntu')
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
        
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: true

      - name: Restore sources from cache (version-specific)
        id: cache-qt-restore
        uses: actions/cache/restore@v4
        with:
          key:  ${{matrix.qt}}_src
          path: "~/qtsrc"
          enableCrossOsArchive: true

      #REMOVED, D: DISK IS FASTER
      #- name: Fix src location windows
      #  if: contains(matrix.os, 'windows')
      #  run: |
      #    cd ~
      #    ls D:\
      #    ls D:\a\install-qt-static\install-qt-static 
      #    move D:\qtsrc .

      - name: Restore previous build for system+version if tag is same
        id: cache-build-restore
        uses: actions/cache/restore@v4
        with:
          key:  ${{matrix.qt}}-${{matrix.os}}
          path: "${{env.HOME_DIR}}/qt_build"

      - name: Create build folder if no previous build is restored
        if: steps.cache-build-restore.outputs.cache-hit != 'true'
        run: |
          cd ${{env.HOME_DIR}}
          mkdir -p qt_build


      - name: Configure Qt (Windows)
        if: contains(matrix.os, 'windows') 
        env:
          CL: /MP # Build with multiple processes
          CC: ${{ steps.install_cc.outputs.cc }}
          CXX: ${{ steps.install_cc.outputs.cxx }}
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          ..\qtsrc\configure.bat -release -static -static-runtime -prefix "..\qt_static ${{ env.COMMON_FLAGS }}" 

      - name: Configure Qt (macOS)
        if: contains(matrix.os, 'macos') 
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          ~/qtsrc/configure -static -release -prefix "../qt_static" ${{ env.COMMON_FLAGS }} -- -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"

      - name: Fix QtOpcUa (linux)
        if: contains(matrix.os, 'ubuntu') 
        run: |
          cd ${{env.HOME_DIR}}
          file="qtsrc/qtopcua/src/opcua/CMakeLists.txt"
          if grep -q "openssl_symbols.cpp" "$file"; then
            sed -i '/openssl_symbols\.cpp/s/^/# DISABLED to avoid symbol conflicts\n#/' "$file"
            echo "openssl_symbols.cpp disabled in $file to avoid conflicts"
          else
            echo "openssl_symbols.cpp already disabled or missing"
          fi
          
      - name: Configure Qt (linux)
        if: contains(matrix.os, 'ubuntu') 
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          ~/qtsrc/configure -static -release -prefix "../qt_static" ${{ env.COMMON_FLAGS }} -openssl-linked -- -DCMAKE_PREFIX_PATH=/usr/lib/llvm-18 -DOPENSSL_USE_STATIC_LIBS=ON -DFEATURE_openssl_linked=ON

      - name: Build Qt (Windows)
        if: contains(matrix.os, 'windows') 
        env:
          CL: /MP # Build with multiple processes
          CC: ${{ steps.install_cc.outputs.cc }}
          CXX: ${{ steps.install_cc.outputs.cxx }}
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          cmake --build . --parallel 4 -j4
  
      - name: Build Qt (macOS)
        if: contains(matrix.os, 'macos') 
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          cmake --build . --parallel 3 -j3
  
      - name: Build Qt (linux)
        if: contains(matrix.os, 'ubuntu') 
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          cmake --build . --parallel 4 -j4

      - name: Install build 
        if: success() 
        run: |
          cd ${{env.HOME_DIR}}
          cd qt_build
          cmake --install .
          cd ..

      - name: Delete Previous Cache
        if: ${{ steps.cache-build-restore.outputs.cache-hit }} && success()
        continue-on-error: true
        run: |
          gh extension install actions/gh-actions-cache
          gh actions-cache delete "${{ steps.cache-build-restore.outputs.cache-primary-key }}" --confirm
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Save build if successful if version tag is same
        id: cache-build-save
        if: success() 
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.cache-build-restore.outputs.cache-primary-key }}
          path: "${{env.HOME_DIR}}/qt_build"

      - name: Package binaries
        run: |
          cd ${{env.HOME_DIR}}
          7z a qt-${{matrix.qt}}-static-${{env.OS_NAME}}.zip qt_static

      - name: Copy config & CMakeCache
        run: |
          cp ${{ env.HOME_DIR }}/qt_build/CMakeCache.txt ${{env.HOME_DIR}}/CMakeCache-${{matrix.qt}}-${{env.OS_NAME}}.txt
          cp ${{ env.HOME_DIR }}/qt_build/config.summary ${{env.HOME_DIR}}/config-${{matrix.qt}}-${{env.OS_NAME}}.summary

      - uses: actions/upload-artifact@v4
        with:
          name: qt-${{matrix.qt}}-static-${{env.OS_NAME}}
          path:  ${{env.HOME_DIR}}/qt-${{matrix.qt}}-static-${{env.OS_NAME}}.zip

        # salva i file di config
      - name: Upload configure summaries
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ matrix.qt }}-${{env.OS_NAME}}
          path: |
            ${{env.HOME_DIR}}/CMakeCache-${{matrix.qt}}-${{env.OS_NAME}}.txt
            ${{env.HOME_DIR}}/config-${{matrix.qt}}-${{env.OS_NAME}}.summary
          if-no-files-found: ignore

  release:
    runs-on: ubuntu-latest
    needs: build
    env: 
      QT_VERSION: ${{inputs.qt_version}}
    if: always()
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.WORKFLOW_TOKEN }}
      - uses: actions/download-artifact@v4
        with:
          path: release
          merge-multiple: true
      - name: Shorthand tags
        id: tag
        run: |
          git config --global user.email "27856297+dependabot-preview[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          TAG=qt-${QT_VERSION}-static-$(date '+%Y%m%d_%H%M')
          git tag $TAG -m "Published version $TAG"
          git push -f origin $TAG
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - uses: softprops/action-gh-release@v2
        name: Do release
        with:
          files: release/*
          tag_name: ${{ steps.tag.outputs.tag }}

